.navbar{
    background-color:pink;
}
.ice{
    color: black;
    font-size: 30px;
    margin: auto;
    /* margin: auto;
    text-align: center; */
}

#iceream {
    background-image: url('pic.1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 180px 0;
}

@media (max-width: 768px) {
    #iceream {
        padding: 100px 0;
        text-align: center;
    }

    .wlc, .ice {
        font-size: 1.5rem;
    }
}
/* .wlc{
    color:black;
    font-size: 40px;
    margin: auto;
} */
.box1{
    text-align: center;
    font-size: 150px;
    font-family: fantasy;
    font-weight: bold;
}
.About h2{
    color:rgb(218, 76, 100);
}
.spl h2{
    color: rgb(201, 32, 88);
}
.pops h2{
    color: rgb(223, 66, 118);
}
.box2{
    margin: 0px 15px;
}
.box2 h2{
    color: rgb(214, 93, 113);
}
#footer{
    background-color: rgb(245, 135, 153);
}
body{
    background-color: rgb(252, 217, 172);
}


